<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>게시판</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }
    </style>
  <link href="static/css/headers.css" rel="stylesheet">
</head>
<body>

<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
<!--    <h1>게시판</h1>-->
<!--</div>-->

<header class="p-4 text-white" style="background-color: #01AB69;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <div class="text-end">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <div><h3>비건게시판</h3></div>
          <li><a href="/index_login.html" class="nav-link px-2 text-white">홈</a></li>
          <li><a href="/board/boardList" class="nav-link px-2 text-white">게시판</a></li>
          <li><a href="/board_news/boardList" class="nav-link px-2 text-white">veganNEWS</a></li>
          <li><a href="/member/memberList" class="nav-link px-2 text-white">회원 목록</a> </li>
        </ul>

      </div>

    </div>
  </div>
</header>

<div class="container" style="margin-top:30px">

  <div class="row">
    <div class="col-sm-12">
      <h2>뉴스 글쓰기</h2>
      <div style="padding:10px;"></div>
      <!--            enctype="multipart/form-data"-->
      <form action="boardForm.html" th:action method="post">
        <div class="form-group">
          <select id="grade" name="grade" class="form-control">
            <option value="">비건단계</option>
            <option th:each="grade :  ${T(project.projecttest.domain.Grade).values()}"
                    th:value="${grade}"
                    th:text="${grade}">
            </option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="title" name = "title">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="content" name = "content"></textarea>
        </div>
        <button type="submit"
                class="btn text-white" style="margin-right:15px; background-color: #01AB69">글쓰기</button>
        <button type="button"
                class="btn text-white"
                style="margin-right:15px; background-color: #FF9614;"
                onclick="location.href='/board_news/boardList'">돌아가기</button>
      </form>
    </div>
  </div>
</div>
</body>
<footer class="py-5 text-center">
  <p>&copy; VGM</p>
</footer>
</html>